---
---

$hover: #ffffff;

$breakpoint-sm: '(min-width: 350px)';
$breakpoint-md: '(min-width: 950px)';
$breakpoint-lg: '(min-width: 1400px)';

/* Base */
/* ----------------------------------------------------------*/

@import 'base-reset.scss';
@import 'typography.scss';
@import 'responsive-states.scss';
@import 'utility-white-space.scss';
@import 'utility-layout.scss';
@import 'grid.scss';



/*
body {
  cursor: url(/images/pointer.png), auto;
  background-color: #81815C;
}
*/


.img-shadow {
box-shadow: 0px 0px 7px 2px #bcbcbc;
background-color: white;
}

.full-width img {
width: 100%;
}

.max-width {
	max-width: 1200px;
}

.bg-tan {
	background-color: #DBD9CE;
}

.bg-olive {
	background-color: #81815C;
}

.bg-dark {
	background-color: #2B2B2B;
}

#top, #bottom, #left, #right {
	background: #DBD9CE;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#top-olive, #bottom-olive, #left-olive, #right-olive {
	background: #81815C;
	position: fixed;
	}
	#left-olive, #right-olive {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top-olive, #bottom-olive {
		left: 0; right: 0;
		height: 15px;
		}
		#top-olive { top: 0; }
		#bottom-olive { bottom: 0; }

a.border-bottom-dark {
	border-bottom: 4px solid #000000;
	display: inline-block;
	line-height: 40px;
}

.border-bottom-tan {
	border-bottom: 4px solid #DBD9CE;
	display: inline-block;
	line-height: 42px;

}

.border-bottom-tan a:hover {
    border-bottom: 4px solid black;
    color: black;
    transition: .2s;

}

.rounded {
	border-radius: 6px;	
}