
// Converted Variables

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;
$space-6: 4.5rem !default;
$space-5: 5rem !default;
$space-6: 6rem !default;


// Custom Media Query Variables


/* Basscss Utility White Space */

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.m1 {
  margin: $space-1;
}

.mt1 {
  margin-top: $space-1;
}

.mr1 {
  margin-right: $space-1;
}

.mb1 {
  margin-bottom: $space-1;
}

.ml1 {
  margin-left: $space-1;
}

.m2 {
  margin: $space-2;
}

.mt2 {
  margin-top: $space-2;
}

.mr2 {
  margin-right: $space-2;
}

.mb2 {
  margin-bottom: $space-2;
}

.ml2 {
  margin-left: $space-2;
}

.m3 {
  margin: $space-3;
}

.mt3 {
  margin-top: $space-3;
}

.mr3 {
  margin-right: $space-3;
}

.mb3 {
  margin-bottom: $space-3;
}

.ml3 {
  margin-left: $space-3;
}

.m4 {
  margin: $space-4;
}

.mt4 {
  margin-top: $space-4;
}

.mr4 {
  margin-right: $space-4;
}

.mb4 {
  margin-bottom: $space-4;
}

.ml4 {
  margin-left: $space-4;
}

.mb5 {
  margin-bottom: $space-5;
}

.mt5 {
  margin-top: $space-5;
}

.mb6 {
  margin-bottom: $space-6;
}

.mt6 {
  margin-top: $space-6;
}

@media #{$breakpoint-sm} {

.sm-m0 {
  margin: 0;
}

.sm-mt0 {
  margin-top: 0;
}

.sm-mr0 {
  margin-right: 0;
}

.sm-mb0 {
  margin-bottom: 0;
}

.sm-ml0 {
  margin-left: 0;
}

.sm-m1 {
  margin: $space-1;
}

.sm-mt1 {
  margin-top: $space-1;
}

.sm-mr1 {
  margin-right: $space-1;
}

.sm-mb1 {
  margin-bottom: $space-1;
}

.sm-ml1 {
  margin-left: $space-1;
}

.sm-m2 {
  margin: $space-2;
}

.sm-mt2 {
  margin-top: $space-2;
}

.sm-mr2 {
  margin-right: $space-2;
}

.sm-mb2 {
  margin-bottom: $space-2;
}

.sm-ml2 {
  margin-left: $space-2;
}

.sm-m3 {
  margin: $space-3;
}

.sm-mt3 {
  margin-top: $space-3;
}

.sm-mr3 {
  margin-right: $space-3;
}

.sm-mb3 {
  margin-bottom: $space-3;
}

.sm-ml3 {
  margin-left: $space-3;
}

.sm-m4 {
  margin: $space-4;
}

.sm-mt4 {
  margin-top: $space-4;
}

.sm-mr4 {
  margin-right: $space-4;
}

.sm-mb4 {
  margin-bottom: $space-4;
}

.sm-ml4 {
  margin-left: $space-4;
}

}

.mxn1 {
  margin-left: -$space-1;
  margin-right: -$space-1;
}

.mxn2 {
  margin-left: -$space-2;
  margin-right: -$space-2;
}

.mxn3 {
  margin-left: -$space-3;
  margin-right: -$space-3;
}

.mxn4 {
  margin-left: -$space-4;
  margin-right: -$space-4;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  padding: $space-1;
}

.py1 {
  padding-top: $space-1;
  padding-bottom: $space-1;
}

.px1 {
  padding-left: $space-1;
  padding-right: $space-1;
}

.p2 {
  padding: $space-2;
}

.py2 {
  padding-top: $space-2;
  padding-bottom: $space-2;
}

.px2 {
  padding-left: $space-2;
  padding-right: $space-2;
}

.p3 {
  padding: $space-3;
}

.py3 {
  padding-top: $space-3;
  padding-bottom: $space-3;
}

.px3 {
  padding-left: $space-3;
  padding-right: $space-3;
}

.p4 {
  padding: $space-4;
}

.py4 {
  padding-top: $space-4;
  padding-bottom: $space-4;
}

.px4 {
  padding-left: $space-4;
  padding-right: $space-4;
}

.pl1 {
  padding-left: $space-1;
}

.pl2 {
  padding-left: $space-2;
}

.pl3 {
  padding-left: $space-3;
}

.pl4 {
  padding-left: $space-4;
}

.pr1 {
  padding-right: $space-1;
}

.pr2 {
  padding-right: $space-2;
}

.pr3 {
  padding-right: $space-3;
}

.pr4 {
  padding-right: $space-4;
}

.pt1 {
  padding-top: $space-1;
}

.pt2 {
  padding-top: $space-2;
}

.pt3 {
  padding-top: $space-3;
}

.pt4 {
  padding-top: $space-4;
}

.pb1 {
  padding-bottom: $space-1;
}

.pb2 {
  padding-bottom: $space-2;
}

.pb3 {
  padding-bottom: $space-3;
}

.pb4 {
  padding-bottom: $space-4;
}


@media #{$breakpoint-sm} {

.sm-p1 {
  padding-left: $space-1;
  padding-right: $space-1;
  padding-top: $space-1;
  padding-bottom: $space-1;
}

.sm-p2 {
  padding-left: $space-2;
  padding-right: $space-2;
  padding-top: $space-2;
  padding-bottom: $space-2;
}

.sm-pl0 {
  padding-left: 0px;
}

.sm-pl1 {
  padding-left: $space-1;
}

.sm-pl2 {
  padding-left: $space-2;
}

.sm-pl3 {
  padding-left: $space-3;
}

.sm-pl4 {
  padding-left: $space-4;
}

.sm-pr0 {
  padding-right: 0px;
}

.sm-pr1 {
  padding-right: $space-1;
}

.sm-pr2 {
  padding-right: $space-2;
}

.sm-pr3 {
  padding-right: $space-3;
}

.sm-pr4 {
  padding-right: $space-4;
}

}
