<div class="bg-dark mt4 pb3">
  <div class="clearfix">
    <div class="container">
      <div class="left">
          <img class="full-width mt3 sm-no-show md-show lg-show" data-echo="/images/footer_image.png">
      </div>
      <div class="right mt3 pt1">
          <ul id="footer">
            <li class="white mr2"><a href="https://www.linkedin.com/in/matthewderrellwilliams/">LinkedIn</a></li>
            <li class="white mr2"><a href="https://www.instagram.com/derrellwilliams/">Instagram</a></li>
            <li class="white mr2"><a href="https://www.strava.com/athletes/4272618">Strava</a></li>
            <li class="white"><a href="mailto:derrellwilliams@gmail.com">Email me!</a></li>
          </ul>
          <h3 class="dark-gray mt0 right">With dark regards <span class="light-gray pt2">☻</span> 2020</h3>
      </div>
    </div>
  </div>
</div>