<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="bg-olive">
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>


      {{ content }}
      {% include footer.html %}


    <!-- lazyload.js -->
    <script src="/javascripts/lazyload.js"></script>
    <script>
    echo.init({
      offset: 850,
      throttle: 300,
      unload: false,
      callback: function (element, op) {
        console.log(element, 'has been', op + 'ed')
      }
    });
    </script>


    </body>
</html>